.main-user {
  min-height: 700px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.info-user {
  padding-top: 20px;
  width: 500px;
  height: 400px;
  border: 1pt solid rgb(131, 128, 128);
  border-radius: 1%;
  box-shadow: 2pt 1pt 3pt 5pt rgb(126, 125, 125);
}
#fix-crack {
  margin-top: 30px;
  padding: 0 5px 0 5px;
}
#box-input {
  display: flex;
  justify-content: start;
  padding: 0 43px 0 40px;
  align-items: center;
}
#box-input > label {
  width: 100px;
  font-size: 17px;
  font-weight: 600;
}
.main-history-order {
  min-height: 500px;
  padding: 150px 250px 0 250px;
}
#sl {
  width: 10%;
}
.history-user-btn {
  margin-top: 30px;
}
.uuu {
  padding-top: 110px;
}
.fix-1 {
  width: 60%;
}
